Email View
<p>
  <h1><%= @issue.title %></h1>
</p>

<p>
  <%= @issue.content %>
</p>
-<%= @issue.name %>



<h2>Articles</h2>
<%= render :partial => "/articles/email", :collection => @issue.articles, :as => :article %>