<!DOCTYPE html>
<html>
<head>
  <title>Autodigest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!--Internal Style Sheet for Email-->
<style type="text/css">
body {
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	}
a {
	color: #FA7E48;
	}
a:visited {
	color: #ED4722;
	}
#content {
	max-width: 600px;
    margin: 0 auto;
	}
	h2{
	padding-top: 2em;
	}
<!-- Comment  visited color was #666-->
</style>
</head>
<body>

<%= yield %>

</body>
</html>
